.map {
    border:1px solid black;
    border-radius: 10px;                
    width:1440px;   
    height:1050px;  
    display:block;
    margin:auto;
    background-color: powderblue;
}
.tooltip{
    background-color: black;
    text-decoration-color: white;
    color: white;
    padding: 5px;
    border-radius: 9px;
    position: absolute;
    display: inline-block;
    margin-top: -50px;
    visibility: hidden;
}

.gauge {
    border:1px solid black;
    border-radius: 10px;                
    width:600px;   
    height:250px;  
    display:block;
    margin:auto;
    background-color: #fff;
    position: relative;
}

svg {
    border:1px solid black;
    border-radius: 10px;                
    width:1000px;   
    height:650px;  
    display:block;
    margin:auto;
    background-color: #fff;
}

.spider {
    border:1px solid black;
    border-radius: 10px;                
    width:1000px;   
    height:650px;  
    display:block;
    margin:auto;
    background-color: #fff;
    position: relative;
}