.map {
    border:1px solid black;
    border-radius: 10px;                
    width:1000px;   
    height:650px;  
    display:block;
    margin:auto;
    background-color: #fff;
}
.tooltip{
    background-color: white;
    text-decoration-color: black;
    font-weight: bold;
    padding: 5px;
    border-radius: 9px;
    position: absolute;
    display: inline-block;
    margin-top: -50px;
    visibility: hidden;
}

.gauge {
    border:1px solid black;
    border-radius: 10px;                
    width:1000px;   
    height:650px;  
    display:block;
    margin:auto;
    background-color: #fff;
}

svg {
    border:1px solid black;
    border-radius: 10px;                
    width:1000px;   
    height:650px;  
    display:block;
    margin:auto;
    background-color: #fff;
}